{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_fields %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">{{ form.gender|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.state|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.birth_date|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.bio|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.school|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.image|image_field }}</div>
            <div class="col-md-4">{{ form.website|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.video|file_field }}</div>
            <div class="col-md-4">{{ form.first_name|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.last_name|as_crispy_field }}</div>
        </div>
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        <input type="submit" class="btn btn-primary">
    </form>


{% endblock %}
