{% extends 'base.html' %}

{% block style_sheet %}
    <style type="text/css">
        .image {
            max-height: 100px;
            max-width: 100px;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>{{ object.title }}</h2>
    <p>{{ object.description }}</p>


    <div class="row">
        <div class="col-md-6 well">
            <h4>Videos</h4>
            <ul>
                {% for video in object.video_set.all %}
                    <li>
                        <video width="320" height="240" controls>
                            <source src="{{ video.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 well">
                    <h4>References</h4>
                    <ul>
                        {% for reference in object.reference_set.all %}
                            <li>
                                <a href="{{ reference.url }}">{{ reference }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 well">
                    <h4>Images</h4>
                    <ul>
                        {% for image in object.image_set.all %}
                            <li>
                                <a href="{{ image.image.url }}" data-lightbox="image-1"
                                   title="My caption">
                                    <img class="image" src="{{ image.image.url }}" alt="">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
