/* Fix for lightbox until it can show the images at the right proportions */
.lb-image {
    max-width: inherit;
}
/* TODO: target this better on the home page, this is a lazy rule. */
.col-lg-4{
    margin-top: 10px;
}
/* style a div to look like a text box for fileupload */
.uneditable-input{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    min-height: 2.4em;
}
.form-actions{
    background: #eee;
    padding: 20px;
}
